.homepage-title{
    font-size: 20px;
    color: white;
    vertical-align: center;
    text-align: center;
}

.homepage-header{
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    width: 100%;
    vertical-align: center;
    text-align: center;
    position: relative;
    margin:0 auto;
}

.sharkys-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
}

.homepage-info{
    font-size: 18px;
}

.appointment-text{
    font-size: 20px;
}

.contact-info{
    font-size: 30px;
    color: black;
    vertical-align: center;
    text-align: center;
}

.centering-container{
    max-width: 960px;
    margin: auto;
}

.homepage-intro{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.homepage-reviews{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}


