.homepage-title{
    font-size: 20px;
    color: silver;
    vertical-align: center;
    text-align: center;
}

.homepage-header{
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: whitesmoke;
    width: 100%;
    vertical-align: center;
    text-align: center;
    position: relative;
    margin:0 auto;
}

.sharkys-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: slategray;
    color: whitesmoke;
    text-align: center;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: whitesmoke;
    background-color: black;
}

.homepage-info{
    font-size: 18px;
    font-style: italic;
}

.homepage-times{
    font-size: 20px;
}

.appointment-text{
    font-size: 30px;
}

.contact-info{
    font-size: 30px;
    color: black;
    vertical-align: center;
    text-align: center;
}

.centering-container{
    max-width: 960px;
    margin: auto;
}

.homepage-intro{
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.homepage-reviews-title{
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.homepage-reviews{
    font-size: 18px;
}

.mainpage-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}